body {
    padding: 0;
    margin: 0;
}

.header {
    margin-top: 5vh;
    border: 5px solid skyblue;
}

h1 {
    text-align: center;
    font-size: 3em;
}

#todo-form {
    padding: 5vh 0;
}

.col-done-width {
    width: 4vw;
    text-align: center;
}

.col-done-width div {
    margin-top: 3px;
}

.col-prio-width {
    width: 3vw;
    text-align: center;
}

th.col-task {
    text-align: center;
}

.completed-todo {
    text-decoration: line-through;
}